@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/s/googlesans/v58/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrw2IJllpyw.ttf) format('truetype');
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/googlesans/v58/4Ua_rENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RFD48TE63OOYKtrwEIJllpyw.ttf) format('truetype');
}

.button {
    cursor: pointer;
}

// Type

.standard {
    border: 1px solid #dadce0;

    .content {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        width: 100%;
    }

    img {
        margin-right: 8px;
    }

    span {
        text-align: center;
        flex-grow: 1;
        font-family: "Google Sans", arial, sans-serif;
    }
}

.icon {
    .content {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        width: 100%;
        justify-content: center;
    }
}

// Size

.standard_small {
    height: 20px;
    padding: 0 8px;

    span {
        font-size: 11px;
        letter-spacing: 0.3px;
        font-weight: 400;
    }
}

.standard_medium {
    height: 32px;
    padding: 0 10px;

    span {
        font-size: 14px;
        letter-spacing: 0.25px;
        font-weight: 500;
    }
}

.standard_large {
    height: 40px;
    padding: 0 12px;

    span {
        font-size: 14px;
        letter-spacing: 0.25px;
        font-weight: 500;
    }
}

.icon_small {
    height: 20px;
    width: 20px;
}

.icon_medium {
    height: 32px;
    width: 32px;
}

.icon_large {
    height: 40px;
    width: 40px;
}

// Shape

.rectangular, .square {
    border-radius: 4px;
}

.pill, .circle {
    border-radius: 20px;
}

.square {

}

.circle {

}

// Theme

.outline {
    background-color: #fff;
    border: 1px solid #dadce0;
    transition: all 225ms;

    span {
        color: #3c4043;
    }
}

.filled_blue {
    background-color: #1a73e8;
    border: none;
    transition: all 225ms;

    span {
        color: #ffffff;
    }
}

.filled_black {
    background-color: #202124;
    border: none;
    transition: all 225ms;

    span {
        color: #ffffff;
    }
}

.filled_black {

}

// Logo Alignment

.left {

}

.center {
    .content {
        justify-content: center;
    }

    span {
        flex-grow: 0;
    }
}

// Logo Theme

.logo_rectangular_small, .logo_square_small {
    background-color: white;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-right: 0;
    }
}

.logo_rectangular_small {
    margin-left: -6px;
    border-radius: 3px 0 0 3px;
}

.logo_square_small {
    border-radius: 3px;
}

.logo_rectangular_medium, .logo_square_medium {
    background-color: white;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-right: 0;
    }
}

.logo_rectangular_medium {
    margin-left: -8px;
    border-radius: 3px 0 0 3px;
}

.logo_square_medium {
    border-radius: 3px;
}

.logo_rectangular_large, .logo_square_large {
    background-color: white;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-right: 0;
    }
}

.logo_rectangular_large {
    margin-left: -10px;
    border-radius: 3px 0 0 3px;
}

.logo_square_large {
    border-radius: 3px;
}

.logo_pill_small, .logo_circle_small {
    background-color: white;
    height: 16px;
    width: 16px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-right: 0;
    }
}

.logo_pill_small {
    margin-left: -6px;
}

.logo_pill_medium, .logo_circle_medium {
    background-color: white;
    height: 28px;
    width: 28px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-right: 0;
    }
}

.logo_pill_medium {
    margin-left: -8px;
}

.logo_pill_large, .logo_circle_large {
    background-color: white;

    height: 36px;
    width: 36px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-right: 0;
    }
}

.logo_pill_large {
    margin-left: -10px;
}

// Events

.outline:hover {
    border-color: #d2e3fc;
    background-color: #f8fafe;
}

.filled_blue:hover {
    background-color: #5194ee;
}

.filled_black:hover {
    background-color: #555658;
}
