<div class="fullscreen centralize bg-neutral-100">
    <mat-card appearance="outlined" class="p-4">
        <h1 class="text-center mb-4">Login</h1>

        <google-login-button [callback]="loginWithGoogle"
                             [clientId]="clientId"
                             [width]="250"
                             locale="en"
                             shape="pill"
                             size="large"
                             text="signin_with"
                             theme="outline"
                             type="standard"
        ></google-login-button>

        <span class="h-2"></span>

        <facebook-login-button [appId]="appId"
                               [callback]="loginWithFacebook"
                               [width]="250"
                               shape="pill"
                               size="large"
                               text="signin_with"
                               theme="outline"
                               type="standard"></facebook-login-button>
    </mat-card>
</div>
