<div class="fullscreen centralize bg-neutral-100">
    <mat-card appearance="outlined" class="p-4 min-w-96">
        <img [src]="user.picture" alt="User's picture" class="w-24 h-24 rounded-full self-center mb-6">

        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput readonly="true" [value]="user.id">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput readonly="true" [value]="user.name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput readonly="true" [value]="user.email">
        </mat-form-field>
        
        <button mat-flat-button color="primary" (click)="logout()">Logout</button>
    </mat-card>
</div>


