<div class="fullscreen centralize bg-neutral-100">
    <mat-card appearance="outlined" class="p-4 min-w-96">
        <img [src]="user.picture" alt="User's picture" class="w-24 h-24 rounded-full self-center mb-6">

        <mat-form-field>
            <mat-label>ID</mat-label>
            <input [value]="user.id" matInput readonly="true">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Name</mat-label>
            <input [value]="user.name" matInput readonly="true">
        </mat-form-field>

        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input [value]="user.email" matInput readonly="true">
        </mat-form-field>

        <button (click)="logout()" color="primary" mat-flat-button>Logout</button>
    </mat-card>
</div>


