<div (click)="login()" [class]="getClass()">
    <div class="content">
        @if (theme !== "outline") {
            <div [class]="getLogoClass()">
                <img ngSrc="../../../../assets/facebook-logo.png"
                     alt="Facebook Icon"
                     priority
                     [height]="getLogoSize()"
                     [width]="getLogoSize()">
            </div>
        } @else {
            <img ngSrc="../../../../assets/facebook-logo.png"
                 alt="Facebook Icon"
                 priority
                 [height]="getLogoSize()"
                 [width]="getLogoSize()">
        }

        @if (type === "standard") {
            <span>{{ getText() }}</span>
        }
    </div>
</div>
